
    body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        #container{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: auto;
            min-width: calc(100% - 20vw);
            min-height: calc(100% - 30vw);
            
            text-align: center;
            border: 2px solid black;
            border-radius: 8px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
        }
#verification_heading{
	font-size:25px;
	font-weight:600;
}
        .mess{
            background-color: rgb(232, 230, 230);
            color: rgb(146, 145, 145);
            width: 55%;
            padding: 10px;
            border-radius: 8px;
        }
        #digi_container{
            display: flex;
            margin: 20px;
            /* border: 1px solid red; */
            width: 90%;
            justify-content: space-evenly;
        }
        .code-container{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 80px;
            color: rgb(123, 120, 120);
            border: 1.5px solid rgb(245, 241, 241);
            border-radius: 5px;
            padding: 1rem 2rem;
        }
